@import "tailwindcss";

body {
  /* @apply bg-gradient-to-r from-indigo-100 via-white to-pink-100 
         dark:from-gray-900 dark:via-gray-800 dark:to-black
         text-gray-900 dark:text-gray-100 
         transition-colors duration-300; */
  font-family: 'Inter', sans-serif;
}
